#  Heroes Of Pymoli Data Analysis

In [1]:
#The majority of the 780 players are males (84%).
#While males make up the majority of players, females make up 14% of purchases and notably have the highest average #purchase ($3.20).
#The largest demographic is 20-24 year olds (44.79%). 
#Players 30-39 years olds spent more on average ($3.60) than do 20-24 year olds ($3.05).
#The most popular item is the Final Critic which is also the most profitable at $4.61 per item.

In [2]:
# Dependencies and Setup
import pandas as pd
# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"
# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [3]:
player_group = purchase_data_df.groupby(["Gender"])

In [4]:
 #Display the total number of players
player_count_df = purchase_data_df["SN"].nunique()
player_count_df

576

In [5]:
dis_player_count_df = pd.DataFrame({"Total Players": [player_count_df]})
dis_player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [6]:
#Purchasing Analysis
#Run basic calculations to obtain number of Total number of purchases
items_purchased = (purchase_data_df["Item Name"]).count()
items_purchased

780

In [7]:
#number of unique items
un_items_purchased = (purchase_data_df["Item Name"]).nunique()
un_items_purchased

179

In [8]:
#total revenue
total_revenue = (purchase_data_df["Price"]).sum()
total_revenue

2379.77

In [9]:
#average purchase price
av_price_df = (purchase_data_df["Price"]).mean()
av_price_df

3.050987179487176

### Display the summary data frame

In [10]:
#place items on same list
merge_1 = pd.DataFrame({"Number of Unique Items": [un_items_purchased], "Average Price": [av_price_df], 
                        "Number of Purchases": [items_purchased], "Total Revenue": [total_revenue]})
merge_1
merge_1.style.format({"Average Price":" ${:,.2f}", "Total Revenue":"${:,.2f}"})

## Gender Demographics

In [11]:
gender_data_df = purchase_data_df[["SN", "Gender"]]

In [12]:
gender_mod_df = gender_data_df.drop_duplicates()

In [13]:
gender_group = gender_mod_df.groupby(["Gender"])

In [14]:
gen_count = gender_group["Gender"].count()

In [15]:
gen_count_df = pd.DataFrame(gender_group["Gender"].count())
gen_count_df = gen_count_df.rename(columns={"Gender": "Total Count"})
gen_count_df

                       Total Count
Gender
Female                          81
Male                           484
Other / Non-Disclosed           11

In [16]:
gender_pct_df = pd.DataFrame(gen_count_df / player_count_df *100)
gender_pct_df = gender_pct_df.rename(columns={"Total Count": "Percentage of Players"})

### Display the summary data frame

In [17]:
gender_merge_df = pd.merge(gen_count_df, gender_pct_df, on="Gender")
gender_merge_df.style.format({"Percentage of Players":" {:,.2f}%"})

### Purchasing Analysis (Gender)

In [18]:
purchase_analysis_df = purchase_data_df[["Gender", "SN", "Price"]]

In [19]:
purchase_analysis_group = purchase_data_df.groupby(["Gender"])

In [20]:
#The below each broken by gender
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Gender
purch_gen_count_df = pd.DataFrame(purchase_analysis_group["Gender"].count())
purch_gen_count_df = purch_gen_count_df.rename(columns={"Gender": "Purchase Count"})

In [21]:
purch_gen_av_df = pd.DataFrame(purchase_analysis_group["Price"].mean())
purch_gen_av_df = purch_gen_av_df.rename(columns={"Price": "Average Purchase Price"})

In [22]:
merge_2 = pd.merge(purch_gen_count_df, purch_gen_av_df, on="Gender")

In [23]:
purch_gen_val_df = pd.DataFrame(purchase_analysis_group["Price"].sum())
purch_gen_val_df = purch_gen_val_df.rename(columns={"Price": "Total Purchase Value"})

In [24]:
merge_3 = pd.merge(merge_2, purch_gen_val_df, on="Gender")

In [25]:
purch_gen_per_df = pd.DataFrame(purch_gen_val_df['Total Purchase Value']/gen_count_df['Total Count'],
                                columns=["Avg Total Purchase per Person"])

### Display the summary data frame

In [26]:
merge_purch_final = pd.merge(merge_3, purch_gen_per_df, on="Gender")
merge_purch_final = merge_purch_final.style.format({"Average Purchase Price":" ${:,.2f}", 
                          "Total Purchase Value":"${:,.2f}", "Avg Total Purchase per Person":"{:,.2f}%"}) 
merge_purch_final

# Age Demographics

In [27]:
purch_gen_df = purchase_data_df[["SN", "Age", "Item ID", "Price"]]
purch_gen_df.head()

              SN  Age  Item ID  Price
0        Lisim78   20      108   3.53
1    Lisovynya38   40      143   1.56
2     Ithergue48   24       92   4.88
3  Chamassasya86   24      100   3.27
4      Iskosia90   23      131   1.44

In [28]:
 bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]   
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"]

In [29]:
pd.cut(purchase_data_df["Age"], bins, labels=group_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [30]:
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_labels)

In [31]:
age_purch_data_df = purchase_data_df.groupby("Age Group")
age_purch_data_df
# Find how many rows fall into each bin
count_by_age_df = pd.DataFrame(age_purch_data_df["SN"].nunique())
count_by_age_df = count_by_age_df.rename(columns={"SN": "Total Count"})

In [32]:
pct_player_age_df = count_by_age_df/player_count_df*100
pct_player_age_df = pct_player_age_df.rename(columns={"Total Count": "Percentage of Players"})
pct_player_age_df

           Percentage of Players
Age Group
<10                     2.951389
10-14                   3.819444
15-19                  18.576389
20-24                  44.791667
25-29                  13.368056
30-34                   9.027778
35-39                   5.381944
40+                     2.083333

### Display the summary data frame

In [33]:
age_dem_merge = pd.merge(count_by_age_df, pct_player_age_df, on="Age Group")
age_dem_merge.style.format({"Percentage of Players":" {:,.2f}%"})

#  Purchasing Analysis (Age)

In [34]:
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group
purchby_age_df = pd.DataFrame(age_purch_data_df["SN"].count())
purchby_age_df = purchby_age_df.rename(columns={"SN": "Purchase Count"})

In [35]:
av_pbage_df = pd.DataFrame(age_purch_data_df["Price"].mean())
av_pbage_df = av_pbage_df.rename(columns={"Price": "Average Purchase Price"})

In [36]:
age_purch_merge = pd.merge(purchby_age_df, av_pbage_df, on="Age Group")

In [37]:
totalp_by_age_df = pd.DataFrame(age_purch_data_df["Price"].sum())
totalp_by_age_df = totalp_by_age_df.rename(columns={"Price": "Total Purchase Value"})

In [38]:
age_purch_merge2 = pd.merge(age_purch_merge, totalp_by_age_df, on="Age Group")

In [57]:
totalav_by_age_df = pd.DataFrame(totalp_by_age_df["Total Purchase Value"]/count_by_age_df["Total Count"], 
                                 columns=["Avg Total Purchase per Person"])

### Display the summary data frame

In [58]:
age_purch_merge3 = pd.merge(age_purch_merge2, totalav_by_age_df, on="Age Group")
age_purch_merge3.style.format({"Average Purchase Price":" ${:,.2f}", "Total Purchase Value":"${:,.2f}",
                               "Avg Total Purchase per Person": "${:,.2f}"})

## Top Spenders

In [59]:
top_spender_group = purchase_data_df.groupby("SN")
sn_purch_df = pd.DataFrame(top_spender_group["Price"].sum())
sn_purch_df = sn_purch_df.rename(columns={"Price": "Total Purchase Value"})

In [60]:
sn_av_df = pd.DataFrame(top_spender_group["Price"].mean())
sn_av_df = sn_av_df.rename(columns={"Price": "Average Purchase Price"})

In [61]:
sn_merge_df = pd.merge(sn_av_df, sn_purch_df, on="SN")

In [62]:
sn_count_df = pd.DataFrame(top_spender_group["Price"].count())
sn_count_df = sn_count_df.rename(columns={"Price": "Purchase Count"})

In [63]:
sn_merge2_df = pd.merge(sn_merge_df, sn_count_df, on="SN")

### Display the summary data frame

In [64]:
sort_top_df = sn_merge2_df.sort_values(by="Total Purchase Value", ascending=False)
sort_top_df = sort_top_df.iloc[0:5, :]
sort_top_df.style.format({"Average Purchase Price":" ${:,.2f}", "Total Purchase Value":"${:,.2f}"})

# Most Popular Items

In [65]:
popular_item_df = purchase_data_df[["Item ID", "Item Name", "Price"]]

In [66]:
popular_item_group = purchase_data_df.groupby(["Item ID", "Item Name"])

In [67]:
pop_purch_df = pd.DataFrame(popular_item_group["Price"].sum())
pop_purch_df = pop_purch_df.rename(
    columns={"Price": "Total Purchase Value"})
pop_purch_df = pop_purch_df.reset_index()

In [68]:
pop_avp_df = pd.DataFrame(popular_item_group["Price"].mean())

pop_avp_df = pop_avp_df.rename(
    columns={"Price": "Item Price"})
pop_avp_df = pop_avp_df.reset_index()

In [69]:
pop_count_df = pd.DataFrame(popular_item_group["Price"].count())

pop_count_df = pop_count_df.rename(
    columns={"Price": "Purchase Count"})
pop_count_df = pop_count_df.reset_index()

In [70]:
pop_merge_df = pd.merge(pop_count_df, pop_avp_df, on=["Item ID", "Item Name"])

In [71]:
pop_merge2_df = pd.merge(pop_merge_df, pop_purch_df, on=["Item ID", "Item Name"])

### Display the summary data frame

In [72]:
sort_pop_df = pop_merge2_df.sort_values(by="Purchase Count", ascending=False)
sort_pop_df = sort_pop_df.set_index(["Item ID", "Item Name"])
sort_pop_df = sort_pop_df.iloc[0:5, :]
sort_pop_df = sort_pop_df.style.format({"Item Price":" ${:,.2f}", "Total Purchase Value":"${:,.2f}"})
sort_pop_df

# Most Profitable Items

In [73]:
#Identify the 5 most profitable items by total purchase value, then list (in a table):
sort_prof_df = pop_merge2_df.sort_values(by="Total Purchase Value", ascending=False)
sort_prof_df = sort_prof_df.set_index(["Item ID", "Item Name"])
sort_prof_df = sort_prof_df.iloc[0:5, :]
sort_prof_df = sort_prof_df.style.format({"Item Price":" ${:,.2f}", "Total Purchase Value":"${:,.2f}"})
sort_prof_df