In [21]:
# Dependencies and Setup
import pandas as pd

In [22]:
# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)

In [23]:
#gender_data_df = purchase_data_df[["SN", "Gender"]]

In [24]:
#total_group = gender_data_df.drop_duplicates()

In [25]:
 #Display the total number of players
#player_count_df = (purchase_data_df["SN"]).nunique()
player_count_df = purchase_data_df["SN"].nunique()

player_count_df

576

In [26]:
dis_player_count_df = pd.DataFrame({"Total Players": [player_count_df]})
dis_player_count_df

   Total Players
0            576

In [27]:
#Purchasing Analysis
#Run basic calculations to obtain number of Total number of purchases
items_purchased = (purchase_data_df["Item Name"]).count()
items_purchased

780

In [28]:
#number of unique items
un_items_purchased = (purchase_data_df["Item Name"]).nunique()
un_items_purchased

179

In [29]:
#total revenue
total_revenue = (purchase_data_df["Price"]).sum()
total_revenue

2379.77

In [30]:
#average purchase price
av_price_df = (purchase_data_df["Price"]).mean()
av_price_df

3.050987179487176

In [31]:
#place items on same list
merge_1 = pd.DataFrame({"Number of Unique Items": [un_items_purchased], "Average Price": [av_price_df], 
                        "Number of Purchases": [items_purchased], "Total Revenue": [total_revenue]})
merge_1

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [32]:
gender_dem_df = purchase_data_df[["SN", "Gender"]]

In [37]:
gender_mod_df = gender_dem_df.drop_duplicates()
gender_mod_df

                SN  Gender
0          Lisim78    Male
1      Lisovynya38    Male
2       Ithergue48    Male
3    Chamassasya86    Male
4        Iskosia90    Male
..             ...     ...
773         Hala31    Male
774     Jiskjask80    Male
775     Aethedru70  Female
777     Yathecal72    Male
778        Sisur91    Male

[576 rows x 2 columns]

In [38]:
#Gender Demographics
gender_group = purchase_data_df.groupby(["Gender"])
gender_group.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [35]:
gen_count_df = pd.DataFrame(gender_group["Gender"].count())

gen_count_df = gen_count_df.rename(
    columns={"Gender": "Total Count"})

gen_count_df.head()

                       Total Count
Gender
Female                         113
Male                           652
Other / Non-Disclosed           15

In [ ]:
gender_pct_df = pd.DataFrame(gender_group["Total Count"]/gen_count_df["SN"])*100
gender_pct_df

In [ ]:
genderc_merge_df = pd.merge(gender_count_df, gender_pct_df, on=["Gender"])
gednerc_merge_df

In [ ]:
male_count_df = purchase_data_df[purchase_data_df.Gender=="Male"].SN.nunique()
male_count_df

female_count_df = purchase_data_df[purchase_data_df.Gender=="Female"].SN.nunique()
female_count_df

other_count_df = purchase_data_df[purchase_data_df.Gender=="Other / Non-Disclosed"].SN.nunique()
other_count_df

In [ ]:
male_pct_df = male_count_df/player_count_df*100
male_pct_df

female_pct_df = female_count_df/player_count_df*100
female_pct_df

other_pct_df = other_count_df/player_count_df*100
other_pct_df

print(male_pct_df)
print(female_pct_df)
print(other_pct_df)

In [ ]:
#Purchasing Analysis (Gender)
#The below each broken by gender

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Gender
purch_gen_df = purchase_data_df[["SN", "Gender", "Item ID", "Price"]]
purch_gen_df

In [ ]:
grouped_count_df = purch_gen_df.groupby("Gender")
grouped_count_df.head()

In [ ]:
ggender_purch_df = pd.DataFrame(grouped_count_df["SN"].count())

ggender_purch_df = ggender_purch_df.rename(
    columns={"SN": "Purchase Count"})

ggender_purch_df.head()

In [ ]:
ggender_av_df = pd.DataFrame(grouped_count_df["Price"].mean())

ggender_av_df = ggender_av_df.rename(
    columns={"Price": "Average Purchase Price"})

ggender_av_df.head()

In [ ]:
ggender_total_df = pd.DataFrame(grouped_count_df["Price"].sum())

ggender_total_df = ggender_total_df.rename(
    columns={"Price": "Total Purchase Value"})

ggender_total_df.head()

In [ ]:
av_genp_purch_df = (ggender_total_df/ggender_purch_df)
av_genp_purch_df["Ave Total Purchase Person"] = (ggender_total_df["Total Purchase Value"]/ggender_purch_df["Price"])
av_genp_purch_df.head()

In [ ]:
male_purch_df = purch_gen_df[purch_gen_df.Gender=="Male"].SN.count()
male_purch_df

female_purch_df = purch_gen_df[purch_gen_df.Gender=="Female"].SN.count()
female_purch_df

other_purch_df = purch_gen_df[purch_gen_df.Gender=="Other / Non-Disclosed"].SN.count()
other_purch_df

print(male_purch_df)
print(female_purch_df)
print(other_purch_df)

In [ ]:
#find ave price per 
av_male_price = purch_gen_df[purch_gen_df.Gender=="Male"].Price.mean()
av_male_price

av_female_price = purch_gen_df[purch_gen_df.Gender=="Female"].Price.mean()
av_female_price

av_other_price = purch_gen_df[purch_gen_df.Gender=="Other / Non-Disclosed"].Price.mean()
av_other_price

print(av_male_price)
print(av_female_price)
print(av_other_price)

In [ ]:
male_total_value = purch_gen_df[purch_gen_df.Gender=="Male"].Price.sum()
male_total_value

female_total_value = purch_gen_df[purch_gen_df.Gender=="Female"].Price.sum()
female_total_value

other_total_value = purch_gen_df[purch_gen_df.Gender=="Other / Non-Disclosed"].Price.sum()
other_total_value

print(male_total_value)
print(female_total_value)
print(other_total_value)

In [ ]:
av_male_purch = male_total_value/male_count_df
av_male_purch

av_female_purch = male_total_value/female_count_df
av_female_purch

av_other_purch = male_total_value/other_count_df
av_other_purch


print(av_male_purch)
print(av_female_purch)
print(av_other_purch)

In [ ]:
#Age Demographics
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)-
#Purchase Count-
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group
purch_gen_df = purchase_data_df[["SN", "Age", "Item ID", "Price"]]
purch_gen_df

In [ ]:
 bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
    
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"]

In [ ]:
pd.cut(purchase_data_df["Age"], bins, labels=group_labels).head()

In [ ]:
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_labels)
purchase_data_df.head()

In [ ]:
age_purch_data_df = purchase_data_df.groupby("Age Group")
age_purch_data_df
# Find how many rows fall into each bin
count_by_age_df = age_purch_data_df["SN"].nunique()
count_by_age_df

In [ ]:
pct_player_age_df = count_by_age_df/player_count_df
pct_player_age_df

In [ ]:
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group
purchby_age_df = age_purch_data_df["SN"].count()
purchby_age_df

In [ ]:
av_pbage_df = age_purch_data_df["Price"].mean()
av_pbage_df

In [ ]:
totalp_by_age_df = age_purch_data_df["Price"].sum()
totalp_by_age_df

In [ ]:
totalav_by_age_df = totalp_by_age_df/count_by_age_df
totalav_by_age_df

In [ ]:
#Top Spenders
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value
top_spender_group = purchase_data_df.groupby("SN")

sn_purch_df = pd.DataFrame(top_spender_group["Price"].sum())

sn_purch_df = sn_purch_df.rename(
    columns={"Price": "Total Purchase Value"})

sn_purch_df = sn_purch_df.reset_index()

In [ ]:
sn_av_df = pd.DataFrame(top_spender_group["Price"].mean())

sn_av_df = sn_av_df.rename(
    columns={"Price": "Average Purchase Price"})

sn_av_df = sn_av_df.reset_index()

In [ ]:
sn_count_df = pd.DataFrame(top_spender_group["Price"].count())

sn_count_df = sn_count_df.rename(
    columns={"Price": "Purchase Count"})

sn_count_df = sn_count_df.reset_index()

In [ ]:
sn_merge_df = pd.merge(sn_count_df, sn_purch_df, on="SN")
sn_merge_df

In [ ]:
sort_top_df = sn_merge_df.sort_values(by="Total Purchase Value", ascending=False)
sort_top_df.head(5)

In [ ]:
#Most Popular Items
#Identify the 5 most popular items by purchase count, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value
popular_item_df = purchase_data_df[["Item ID", "Item Name", "Price"]]
popular_item_df

In [ ]:
popular_item_group = purchase_data_df.groupby(["Item ID", "Item Name"])
popular_item_group.head()

In [ ]:
pop_purch_df = pd.DataFrame(popular_item_group["Price"].sum())

pop_purch_df = pop_purch_df.rename(
    columns={"Price": "Total Purchase Value"})

pop_purch_df = pop_purch_df.reset_index()

pop_purch_df.head()

In [ ]:
pop_avp_df = pd.DataFrame(popular_item_group["Price"].mean())

pop_avp_df = pop_avp_df.rename(
    columns={"Price": "Item Price"})

pop_avp_df = pop_avp_df.reset_index()

In [ ]:
pop_count_df = pd.DataFrame(popular_item_group["Price"].count())

pop_count_df = pop_count_df.rename(
    columns={"Price": "Purchase Count"})

pop_count_df = pop_count_df.reset_index()

In [ ]:
pop_merge_df = pd.merge(pop_count_df, pop_avp_df, on=["Item ID", "Item Name"])
pop_merge_df.head()

In [ ]:
pop_merge2_df = pd.merge(pop_merge_df, pop_purch_df, on=["Item ID", "Item Name"])
pop_merge2_df.head()

In [ ]:
sort_pop_df = pop_merge2_df.sort_values(by="Purchase Count", ascending=False)
sort_pop_df.head(5)

In [ ]:
#Most Profitable Items
#Identify the 5 most profitable items by total purchase value, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value
sort_prof_df = pop_merge2_df.sort_values(by="Total Purchase Value", ascending=False)
sort_prof_df.head(5)